*.suo
*.lock
*.ide
*.ide-shm
bin/Debug/data/test.wav
bin/Debug/AutoKhoomii.exe.config
*.cache
*.baml
obj/Debug/TemporaryGeneratedFile_*
*.exe
obj/*
.vs/*
*.pdb
packages/*
bin/Debug/AutoKhoomii.pdb
UTestAutoKhoomii/obj/Debug/UTestAutoKhoomii.csproj.FileListAbsolute.txt
UTestAutoKhoomii/obj/Debug/
TemporaryGeneratedFile_*
UTestAutoKhoomii/Properties/AssemblyInfo.cs
UTestAutoKhoomii/bin/*
*.dll
bin/Debug/MathNet.Numerics.xml
bin/x86/Debug32/*
bin/Debug/*
bin/Debug32/*
UTestAutoKhoomii/obj/*
